.button {
  display: block;
  width: 120px;
  padding: 8px 0;
  margin: 20px auto;
  background: teal;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.form {
  width: 100%;
}

.formItem {
  display: block;
  width: 100%;
  margin: 10px auto;
}

.formItem label {
  display: block;
}

.formItem input[type='text'] {
  display: block;
  width: 100%;
  padding: 10px;
}

.formItem input[type='number'] {
  display: block;
  width: 100%;
  padding: 10px;
}

.addCar {
  width: 120px;
  padding: 8px 0;
  margin: 20px;
  background: teal;
  color: white;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sold {
  width: 120px;
  padding: 8px 0;
  margin: 20px;
  background: teal;
  color: white;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cancel {
  width: 120px;
  padding: 8px 0;
  margin: 20px;
  background: red;
  color: white;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
}

.message {
  color: green;
}

.car {
  font-size: 2em;
  display: block;
}

.sku {
  font-size: 60%;
  font-weight: normal;
  vertical-align: middle;
}

.addInventory {
  display: block;
  width: 120px;
  padding: 8px 8px;
  margin: 20px auto;
  background: teal;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.addSales {
  display: block;
  width: 120px;
  padding: 8px 8px;
  margin: 20px auto;
  background: teal;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.delete {
  width: 70px;
  padding: 5px 0;
  margin: 10px auto;
  background: red;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
